.btn {
    background-color: #061558;
    font-size: 14px;  
    cursor: pointer;
    width:100px; 
    background: #061558;
}

.btn:hover {
    background-color: #050f3d;
}

.btn:active {
    background-color:#050f3d;
}

.btn:focus {
    background-color:#050f3d;
}

.btn[disabled] {
    background-color: #051042;
}

.btn a {
      background-color: #061558;
      font-size: 14px;  
      cursor: pointer;
      width:100px; 
      background: #061558;
}

.btn a:hover {
    background-color: #051042;
}

.h1 {
color: #040e36;
font-size: 30px;
font-style: oblique;
font-weight:bold;
}