<div class="container"><br>
  <h1 class = "h1">Информация (все ссылки)</h1><br><br>
  <table class="table">
    <thead>
      <tr>
        <th>Ссылка</th>
        <th>Сокращенная ссылка</th>
        <th class="col-sm-1"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let link of links">
        <td>{{ link.longlink }}</td>
        <td>{{ link.shortlink }}</td>
        <td class="col-sm-1">
					<a href="/info-one/{{ link.shortlink }}" class="btn btn-primary">подробно >></a>
				</td>
      </tr>
    </tbody>
  </table>
</div>

