<div class="container"><br>
  <h1 class = "h1">Ссылки с выбранным тегом ({{ tagname }})</h1>
  <br><br>
  <table class="table">
    <thead>
      <tr>
        <th>Ссылка</th>
        <th>Сокращенная ссылка</th>
        <th>Описание</th>
        <th>Теги</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let link of links">
        <td>{{ link.longlink }}</td>
        <td>
          <a href="http://localhost:3000/openlink/{{ link.shortlink }}">localhost:3000/openlink/{{ link.shortlink }}</a>
        </td>
        <td>{{ link.description }}</td>
        <td><a href="/tag/{{ tag }}" *ngFor="let tag of link.tags">{{ tag }}; </a></td>        
      </tr>
    </tbody>
  </table>
</div>